extends layout

block content
  .content-small
    form(class='pure-form' name="uploader", action="/fileupload", method="post", enctype="multipart/form-data")
      fieldset
          label(for='kmerLength') K-mer Length
          input(
            class='input'
            type='number'
            name='kmerLength'
            min='5'
            max='50'
            value='10'
          )
          .pure-button.upload-group
            span(for='file') Fasta file
            input(class="upload" type="file", name="file", id="file")

          button(class='pure-button pure-button-primary' type='submit', value="Upload") Submit
